<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{ title }} - Larry Hudson</title>
  </head>
  <body class="lg:max-w-3xl mx-auto">
    {% include 'partials/header.njk' %}
    <main>
      {{ content | safe }}
    </main>
    <footer></footer>
  </body>
</html>
