<footer class="text-sm mt-12 container mx-auto">
<p>This site was made with <a href="https://11ty.dev">Eleventy</a> and <a href="https://tailwindcss.com">Tailwind</a>. It's open source - you can <a href="https://github.com/larryhudson/personal-site-11ty">read the source code on GitHub</a>.</p>
</footer>