<div class="bg-gray-300 p-3 rounded-lg mt-12 text-sm">
<p class="m-0">I don't have comments on my blog yet. <a href="https://twitter.com/larryhudsondev">Tell me what you think on Twitter</a>.</p>
</div>