<div class="bg-gray-200 text-black p-3 rounded-lg mt-12 text-sm border-2 border-dashed">
<p class="m-0">I don't have comments on my blog yet. <a href="https://twitter.com/larryhudsondev" class="text-black">Tell me what you think on Twitter</a>.</p>
</div>