<h2 class="text-xl mb-5">Filter by tag</h2>
<ul class="list-none pl-0 py-3 overflow-x-auto whitespace-no-wrap text-sm">
<li class="inline-block"><a href="/blog/" class="pill {% if page.url == '/blog/' %}current{% endif %}">all</a></li>
{%- for tag in collections.tagList -%}
{%- set tagUrl -%}/blog/tags/{{ tag.tag }}/{%- endset -%}
<li class="inline-block"><a href="{{ tagUrl | url }}" class="pill {% if page.url == tagUrl %}current{% endif %}">{{ tag.tag }} ({{tag.count}})</a></li>
{%- endfor -%}
</ul>
